@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Oswald:wght@200;400;600&family=Poppins:wght@300;400&family=Roboto&family=Rubik+Iso&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
#css{
  font-weight: 800;
  font-variant: small-caps;
  font-style: italic;
}
p{
  font-size: 15px;
}